<!DOCTYPE html>
<html lang="en">
<head>
<title>Markdown Website</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/static/test.css">
</head>
<body>
<div id="content">
{{ template "head.template" }}
{{.}}

{{template "foot.template"}}
</div>
<!-- <div id="left">-->
	{{markdown "left.md"}}
<!--</div>-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>
